.drawerIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.drawerIcon {
  width: 28px;
  height: 28px;
}

.drawer {
  position: absolute;
  display: flex;
  background-color: white;
  margin-top: 144px;
  border: 1px solid black;
  flex-direction: column;
  flex-wrap: nowrap;
}

.drawerLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 200px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s; 

  &:hover {
    color: #e83e8c;
  }
}