.container {
  border: 1px solid black;
  padding: 24px;
  margin: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: 150px;
  justify-content: center;
  align-items: center;
  display: flex;
  transform: translateY(-24px);
}

.subContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 24px;
}

.button {
  margin-top: 16px;
}